v2/v2/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
v2/v2/obj/Debug/v2.csproj.AssemblyReference.cache
GUI_HeavyWater_09_21_2021/VC_Form_Application.VC.db
GUI_HeavyWater_09_21_2021/.vs/VC_Form_Application/v17/Browse.VC.db
GUI_HeavyWater_09_21_2021/.vs/VC_Form_Application/v17/ipch/75f8612e14446243.ipch
GUI_HeavyWater_09_21_2021/.vs/VC_Form_Application/v17/ipch/e2ec3a705dd00583.ipch
*.pdb
*.ipch
*.pch
*.db
*.db-shm
*.db-wal
*.opendb
GUI_HeavyWater_09_21_2021/VC_Form_Application.VC.VC.opendb
*.db
*.ipch
*.pdb
*.pch
v2/.vs/d2ome_v2/v17/Browse.VC.opendb
GUI_HeavyWater_09_21_2021/VC_Form_Application/x64/Release/VC_Form_Application.vcxproj.AssemblyReference.cache
v2/.vs/d2ome_v2/v17/.suo
v2/v2/bin/Debug/v2.exe
*.cache
*.exe
*.obj
*.log
*.tlog
GUI_HeavyWater_09_21_2021/VC_Form_Application/x64/Release/VC_Form_Application.vcxproj.FileListAbsolute.txt
v2/v2/obj/Release/v2.csproj.FileListAbsolute.txt
*.csv 
v2/v2/bin/Release/
v2/v2/obj/Release/ 
v2/v2/bin/
v2/v2/obj/
GUI_HeavyWater_09_21_2021/VC_Form_Application/x64/Release/
 
v2/.vs/d2ome_v2/v14/.suo
*.suo
*.metagen
